openapi: 3.1.0
info:
  title: Google Meet REST Conference Records Participants API
  version: v2
  description: 'Google Meet REST API v2 for creating and managing meeting spaces,

    retrieving conference records and participants, and accessing recordings

    and transcripts produced by Google Meet. Authentication uses OAuth 2.0

    with Google Workspace scopes such as

    https://www.googleapis.com/auth/meetings.space.created and

    https://www.googleapis.com/auth/meetings.space.readonly.

    '
  contact:
    name: Google Meet API
    url: https://developers.google.com/workspace/meet/api/guides/overview
servers:
- url: https://meet.googleapis.com
  description: Google Meet API service endpoint
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Participants
paths:
  /v2/conferenceRecords/{conferenceRecord}/participants:
    get:
      tags:
      - Participants
      summary: List participants in a conference
      parameters:
      - in: path
        name: conferenceRecord
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        schema:
          type: integer
      - in: query
        name: pageToken
        schema:
          type: string
      - in: query
        name: filter
        schema:
          type: string
      responses:
        '200':
          description: Participants page
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Participant'
                  nextPageToken:
                    type: string
                  totalSize:
                    type: integer
  /v2/conferenceRecords/{conferenceRecord}/participants/{participant}:
    get:
      tags:
      - Participants
      summary: Get a participant
      parameters:
      - in: path
        name: conferenceRecord
        required: true
        schema:
          type: string
      - in: path
        name: participant
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
  /v2/conferenceRecords/{conferenceRecord}/participants/{participant}/participantSessions:
    get:
      tags:
      - Participants
      summary: List participant sessions
      parameters:
      - in: path
        name: conferenceRecord
        required: true
        schema:
          type: string
      - in: path
        name: participant
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Participant sessions page
          content:
            application/json:
              schema:
                type: object
                properties:
                  participantSessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParticipantSession'
                  nextPageToken:
                    type: string
  /v2/conferenceRecords/{conferenceRecord}/participants/{participant}/participantSessions/{participantSession}:
    get:
      tags:
      - Participants
      summary: Get a participant session
      parameters:
      - in: path
        name: conferenceRecord
        required: true
        schema:
          type: string
      - in: path
        name: participant
        required: true
        schema:
          type: string
      - in: path
        name: participantSession
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Participant session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantSession'
components:
  schemas:
    Participant:
      type: object
      properties:
        name:
          type: string
        earliestStartTime:
          type: string
          format: date-time
        latestEndTime:
          type: string
          format: date-time
        signedinUser:
          type: object
          properties:
            user:
              type: string
            displayName:
              type: string
        anonymousUser:
          type: object
        phoneUser:
          type: object
    ParticipantSession:
      type: object
      properties:
        name:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/meetings.space.created: Create and manage meeting spaces created by the app
            https://www.googleapis.com/auth/meetings.space.readonly: Read meeting spaces
            https://www.googleapis.com/auth/meetings.space.settings: Manage meeting space settings
    bearerAuth:
      type: http
      scheme: bearer
